**/node_modules
**/.git
**/.vscode
**/dist
**/build
**/.env
**/.env.*
**/logs
**/coverage
**/failedSqlWrites
**/databaseBackups
**/tests
**/tmp
**/public/events
**/public/users
**/assets
*.log
*.md
*.txt
*.sql
*.zip
*.tar.gz
bash.exe.stackdump

