server:
    http_listen_port: 3100

auth_enabled: false

common:
    ring:
        kvstore:
            store: inmemory

schema_config:
    configs:
        - from: 2024-01-01
          store: boltdb-shipper
          object_store: filesystem
          schema: v13
          index:
              prefix: index_
              period: 24h

storage_config:
    boltdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/boltdb-cache
        shared_store: filesystem
    filesystem:
        directory: /loki/chunks

ingester:
    wal:
        enabled: true
        dir: /loki/wal

compactor:
    working_directory: /loki/compactor
    shared_store: filesystem

limits_config:
    allow_structured_metadata: true
    ingestion_rate_mb: 8
    ingestion_burst_size_mb: 16
    per_stream_rate_limit: 4MB
    per_stream_rate_limit_burst: 8MB
