name: Build and Deploy FrontEnd

on:
  push:
    branches:
      - development
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present
      - name: Zip artifact for deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: node-app
          path: release.zip
      - name: List files
        run: ls /home/runner/work/FrontEnd/FrontEnd/ -a
        shell: bash    
        
      - name: copy file via ssh password
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASS }}
          port: ${{ secrets.SSH_PORT }}
          source: /home/runner/work/FrontEnd/FrontEnd/release.zip
          target: /home/administratori/app
      
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.0
        with:
         host: ${{ secrets.SSH_HOST }}
         username: ${{ secrets.SSH_USERNAME }}
         password: ${{ secrets.SSH_PASS }}
         port: ${{ secrets.SSH_PORT }}
         script: |
          zip -r /home/administratori/app/backup/FrontEnd_$(date +%y-%m-%d-%H-%M).zip /home/administratori/app/FrontEnd/           
          rm -fr /home/administratori/app/FrontEnd/
          unzip /home/administratori/app/github/workspace/release.zip -d ~/app/FrontEnd/
          
