apiVersion: 1
datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus:9090
      isDefault: true
    - name: Loki
      type: loki
      access: proxy
      url: http://loki:3100
      jsonData:
          derivedFields:
              - name: trace_id
                matcherRegex: "trace_id=(\\w{16,32})|trace[ _-]?id[\":= ]+(\\w{16,32})|(?:(?:trace_id|traceid|traceId)\"?:\"?)([a-fA-F0-9]{16,32})"
                datasource: Tempo
                url: '$${__value.raw}'
    - name: Tempo
      type: tempo
      access: proxy
      url: http://tempo:3200
